<div class="word-container">
  <h1 class="center">Welcome to Book App.</h1>
  <h2 class="center">Where finding a book has never been easier.</h2>
</div>
<% @book.each do |book| %>
  <div class="book-container center">
    <h2><%= book.title %></h2>
    <h6><%= book.author %></h6>
    <h6><%= book.category %></h6>
    <p><%= book.description %></p>
    <%= image_tag book.image.url(:medium) %>
    <br>
    <%= link_to "Edit", edit_book_path(book) %> |
    <%= link_to "Delete", book_path(book), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>
